@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* Logo */
.Logo {
  height: 90px;
}
@media screen and (max-width: 899px) {
  .LogoLink {
    margin: 5px 0px 0px 30px;
  }
  .Bars {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #444;
  }
  .MobileMenu {
    background: url("./images/black-linen.png");
    background-color: #343a40;
  }
}
@media screen and (min-width: 900px) {
  .LogoLink {
    margin: 5px 0px 0px 70px;
  }
}
