@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* Logo */
.Logo {
  height: 65px;
}
@media screen and (max-width: 899px) {
  /* .Slider{
    height;
  } */
  .Bars {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #f7f7f7;
  }
  .MobileMenu {
    background: url("./images/black-linen.png");
    background-color: #343a40;
  }
}
@media screen and (min-width: 900px) {
  .LogInBtn_DeskNav{
    padding:15px 70px;
    background-color:#fff;
    font-size: 17px;
    color: #343a40;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
  }
  .FocusBtnMenu {
    padding: 10px 15px;
    background-color:#fff;
    font-size: 13px !important;
    color: #343a40 !important;
    border-radius: 3px;
  }
  .FocusBtnMenu:hover {
    background-color:#cfcfcf;
  }
  .HamBurger{
    margin-left: 30px;
    font-size: 25px;
    color:#fff;
    cursor: pointer;
  }
  .NavDeskLinkHam{
    text-align: center;
    margin-top: 50px;
    padding: 50px 0px;
    text-align: left;
  }
  .NavDeskTimes{
    margin-left: 100%;
    margin-bottom:50px;
    color:#f7f7f7;
    font-size: 35px;
    cursor: pointer;
  }
  .Slider_Div {
    background-color: #343a40a1;
    height: 100%;
  }
  .Slider {
    height: 700px;
    background: url("./images/Slider_image.jpg");
    background-position: center;
    background-size: cover;
  }
  .LogoLink {
    margin: 5px 0px 0px 70px;
  }
  /* Top Nav */
  .topNav{
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: #F26522;
  }
  .TopIcons svg{
      margin-top:05px;
  }
  .LinkTopMenu{
    color: #F26522;
    padding:0px 10px;
    font-size:20px;
    /* border-right: 1px solid #F26522; */
    /* border-left: 1px solid #F26522; */
  }
  .LinkToptxt{
    font-size:17px !important;
    text-decoration: none;
    margin-top:7px;
    /* border-right: 1px solid transparent; */
  }
}
